<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unlock account</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    
    
</head>
<body>

<div class="container">
<br>  

<div class="row justify-content-center">
<div class="col-md-6">
<div class="card">
<header class="card-header">
	<h2 class="card-title text-center">Welcome</h2>
	<h4 class="card-title text-center"th:text="${user.email}"></h4>
	<p th:text="${cmsg}" class="text-danger"></p>
	<p th:text="${smsg}" class="text-success"></p>
</header>
<article class="card-body">
<form th:action="@{/unlock}" th:object="${user}" method="post">
	     <input type="hidden"th:field="*{email}"/>
		 <input type="hidden" th:field="*{id}"/>
		<div class="col form-group">
			<label>Temporary password </label> 
			<input type="hidden"th:field="*{password}">  
		  	<input type="text"th:field="*{tpassword}" class="form-control" placeholder="">
		</div> <!-- form-group end.// -->
		<div class="col form-group">
			<label>Set New password</label>
		  	<input type="text" th:field="*{spassword}" class="form-control" placeholder=" ">
		</div> <!-- form-group end.// -->

        <div class="col form-group">
			<label>Confirm password</label>
		  	<input type="text" th:field="*{npassword}" class="form-control" placeholder=" ">
		</div> <!-- form-group end.// -->
	

    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block"> Submit  </button>
    </div> <!-- form-group// -->      
                                           
</form>
</article> <!-- card-body end .// -->

</div> <!-- card.// -->
</div> <!-- col.//-->

</div> <!-- row.//-->


</div> 
<!--container end.//-->

<br><br>

</body>
</html>